#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

div.btn-login-google > button {
    width: 100%;
    padding: 7px !important;
    display: block !important;
}

div.btn-login-google > button > div {
    padding: unset !important;
}

div.auth-content {
    background-image: linear-gradient(to top, #000000, #060002, #0a0006, #0c000c, #0b0012, #0b0012, #0b0012, #0b0012, #0c000c, #0a0006, #060002, #000000);
    padding: 17px;
    opacity: 0.97;
    border-radius: 7px;
}