.form-chat {
    position: absolute;
    bottom: 0;
}

.messages {
    border-radius: 2px;
    height: 520px;
    overflow: auto;
    margin-bottom: 5px;
    background-color: #ffffff;
    font-size: 11px;
    color: black;
}

.button-send > form > div > div > div > div > span {
    background-color: black;
    padding-top: 1px;
}

.message-text {
    word-wrap: break-word;
    color: black;
    margin-bottom: 0;
    
}

.content-text {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.my-username {
    font-weight: bold;
    color: #d82424;
    font-size: 12px;
}

.opponent-username {
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.message-date {
    font-size: 8px;
    text-align: right;
}

.font-action {
    font-style: italic;
}