.form-chat {
    position: absolute;
    bottom: 0;
}

.messages {
    border-radius: 2px;
    height: 530px;
    overflow: auto;
    margin-bottom: 5px;
    background-color: #ffffff;
    font-size: 12px;
    color: black;
}

.button-send {
    padding-left: 3px;
    padding-right: 3px;
}

.button-send > form > div > div > div > div > span {
    background-color: black;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.message-text {
    word-wrap: break-word;
    color: black;
    margin-bottom: 0;
    
}

.chat {
    padding-bottom: 1px;
}

.content-text {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

.my-username {
    font-weight: bold;
    color: #d82424;
    font-size: 13px;
}

.opponent-username {
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.message-date {
    font-size: 8px;
    text-align: right;
}

.font-action {
    font-style: italic;
}

@media (min-width: 576px) {
    .messages {
        font-size: 9px;
    }

    .my-username {
        font-size: 10px;
    }

    .opponent-username {
        font-size: 10px;
    }
    
}

@media (min-width: 992px) { 
    .messages {
        font-size: 12px;
    }

    .my-username {
        font-size: 13px;
    }

    .opponent-username {
        font-size: 13px;
    }
}