.form-chat {
    position: absolute;
    bottom: 0;
}
.chat {
    background-color: darkgreen;
}

.messages {
    border-radius: 2px;
    height: 495px;
    overflow: auto;
    margin-bottom: 5px;
    
    font-size: 12px;
    color: darkslategray;
}

.my-message {
    border: 1px solid #731717;
    margin: 2px;   
    background-color: white;
    float: left;
    
}

.opponent-message {
    border: 1px solid black;
    margin: 2px;
    background-color: lightskyblue;
    float: right;
}

.button-send {
    padding-left: 3px;
    padding-right: 3px;
}

.my-username {
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.opponent-username {
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.button-send > form > div > div > div > div > span {
    background-color: black;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.message-text {
    word-wrap: break-word;
    color: black;
    margin-bottom: 0;
}

.content-text {
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

.message-date {
    font-size: 8px;
    text-align: right;
    margin-bottom: 0;
}

.font-action {
    font-style: italic;
}

@media all and (orientation:portrait) {
    .messages {
        font-size: 9px;
    }

    .my-username {
        font-size: 10px;
    }

    .opponent-username {
        font-size: 10px;
    }
}

@media all and (orientation:landscape) {
    .messages {
        font-size: 9px;
    }

    .my-username {
        font-size: 10px;
    }

    .opponent-username {
        font-size: 10px;
    }
    
}

@media (min-width: 992px) { 
    .messages {
        font-size: 12px;
    }

    .my-username {
        font-size: 13px;
    }

    .opponent-username {
        font-size: 13px;
    }
}