.menu-button {
  position: fixed;
  right: 20px;
  margin-top: 5px;
  z-index: 3;
}
.zone {
  height: 127px;
  width: 100%;
  margin: 1px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);  
}

.zone-flex {
  display: flex;
  overflow-y: auto;
}

.title-zone {
  text-align: center;
  background: rgb(14,14,8);
background: radial-gradient(circle, rgba(14,14,8,1) 0%, rgba(120,15,15,1) 88%);
  font-size: 11px;
}

.title-zone-opponent {
  text-align: center;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 38%, rgba(27,13,71,1) 100%);
  font-size: 11px;
}

/* .content-match {
  overflow-y: clip;
} */

.image-match {
  background: rgb(99,151,153);
  background: linear-gradient(0deg, rgba(99,151,153,1) 0%, rgba(242,174,25,1) 100%);
}

.scroll {
  overflow-y: auto;
  white-space: nowrap;
}

.zone-flex > div.ant-radio-group > div.ant-space > div.ant-space-item {
  box-shadow: 1px 1px 6px rgb(0 0 0 / 50%);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 1px;
}

.movable-item {
  border-radius: 3px;
  margin: 4px;
  
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* .my-card {
  background-color: #780f0f;
  height: 95px;
  width: 67px;
  min-width: 67px;
}

.opponent-card {
  background-color: rgb(23, 17, 104);
  height: 95px;
  width: 67px;
  min-width: 67px;
} */

.card-private {
  height: 65px;
  width: 45px;
}

span.icon-arm {
  border-radius: 6px;
  color: chartreuse;
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: black;
  bottom: 0;
}

span.icon-arm-opponent {
  border-radius: 6px;
  color: chartreuse;
  position: absolute;
  z-index: 3;
  background-color: black;
  top: 0;
  left: 0;
}
  
.stack {
  width: 80px;
  float: left;
  position: relative;
  left: 50%;
}

.stack > .movable-item  {
  position: absolute;
  display: flex;
  float: left;
  left: -50%;
}

.actions {
  float: right;
}
  
.button-logout {
  position: fixed;
  bottom: 0;    
}  

.img-180-deg {
  transform: rotate(180deg);
}  
  
div.select-ally-arm > div.ant-modal-content > div.ant-modal-body{
  justify-content: center;
  display: flex;
}

.view-moda-origin {
  height: 115px;
  margin: 5px;
  padding: 3px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.content-actions {
  position: fixed;
  background-color: black;
  border: 3px solid rgb(60, 31, 31);
  right: 0;
  z-index: 2;
  padding-top: 40px;
  
}

.content-actions-mobile-landscape {
  height: 100%;
  overflow-y: auto;
}

.row-buttons {
  margin: 3px 3px 0 3px;
}

.name-opponent {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align:center;
  padding-bottom: 5px;

}

.message-warning {
  font-size: 14px;
}

.divider-vs > span.ant-divider-inner-text{
  font-size: 20px;
}

.icon-zone-action {
  color: white;
  height: 15px !important;
  width: 15px !important;
  float: right; 
}

.img-card-match {
  height: 93px;
  width: 65px;
  border-radius: 3px;
}

.ant-image-img-custom {
  border-radius: 3px;
}

.unpaid-gold-zone {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}


@media all and (orientation:portrait) {

  .title-zone {
    font-size: 7px;
  }

  .title-zone-opponent {
    font-size: 7px;
  }

  .stack {
    width: unset;
    float: unset;
    position: relative;
    left: 50%;
    padding-top: 5px;
  }

  .stack > .movable-item > .img-card-match{
    height: 69px;
    margin: 1px;
  } 
  
  .icon-zone-action > span > * {
    font-size: 11px;
    margin-bottom: 2px;
  }

  .movable-item {
    margin: 2px;
    height: 69px;
    width: 45px;
  }

  .img-card-match {
    height: 69px;
    width: 45px;
  }

  /* .my-card {
    height: 67px;
    width: 45px;
    min-width: 45px;
  }

  .opponent-card {
    height: 60px;
    width: 45px;
    min-width: 45px;
  } */

  .zone {
    height: 96px;
  }
  
  .unpaid-gold-zone {
    min-height: 81px;
  }

  .zone-flex {
    width: 100%;
  }
  
}

@media all and (orientation:landscape) {
  .message-warning {
    font-size: 8px;
  }

  div.content-actions > div.divider-vs{
    margin: 3px 0;
  }

  .divider-vs > span.ant-divider-inner-text{
    font-size: 15px;    
  }
  
}

@media (min-width: 992px) { 
  .message-warning {
    font-size: 14px;
  }

  .divider-vs > span.ant-divider-inner-text{
    font-size: 20px;
  }

  div.content-actions > div.divider-vs{
    margin: 16px 0;
  }
}

.defense-zone {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

.attack-zone {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

.support-zone {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
}

.paid-gold-zone {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}


.cementery-zone {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: right;
}

@media (min-width:320px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

}
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}