.zone {
  height: 82px;
  width: 100%;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);  
}

.zone-flex {
  display: flex;
  overflow-y: auto;
}

.title-zone {
  text-align: center;
  background-color: #780F0F;
  font-size: 12px;
}

.title-zone-opponent {
  text-align: center;
  background-color: #191313;
  font-size: 12px;
}

.content-match {
  background-image: url("https://res.cloudinary.com/dfcm5wuuf/image/upload/v1636077498/pexels-pixabay-235985_awktjo.jpg");
}

.scroll {
  overflow-y: auto;
  white-space: nowrap;
}

.movable-item {
  border-radius: 10px;
  /* position: absolute; */
  background-color: #fff3f3;
  height: 50px;
  width: 33px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  position: relative;
}

span.icon-arm {
  color: chartreuse;
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: black;
  bottom: 00;
}
  
.stack {
  width: 80px;
}

.stack > .movable-item  {
  position: absolute;
  margin: 5px auto;
  right: 0;
  left: 0;  
}

.actions {
  float: right;
}
  
.button-logout {
  position: fixed;
  bottom: 0;    
}
  

.img-180-deg {
  transform: rotate(180deg);
}  
  
div.select-ally-arm > div.ant-modal-content > div.ant-modal-body{
  justify-content: center;
  display: flex;
}

.view-moda-origin {
  height: 75px;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
  display: flex;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}