.container-deck {
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-radius: 5px;
    overflow-y: auto;
}

.movable-item-new-deck {
    border-radius: 10px;
    width: 60px;
    height: 90px;
    margin: 6px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    position: relative;
}

div.react-tag-input {
    box-sizing:border-box;
    position:relative;
    width:100%;
    height:auto;
    min-height:2.375em;
    padding:.1875em .375em;
    overflow-y:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    font-size: unset;
    background: unset;
    color: unset;
    border:1px solid #434343;
    border-radius:3px;
}

div.react-tag-input > input.react-tag-input__input {
    width:auto;
    flex-grow:1;
    height:1.875em;
    padding:0 0 0 .1875em;
    margin:0;
    font-size:1em;
    line-height:1;
    background:transparent;
    color: unset;
    border: unset;
    border-radius:3px;
    outline:0;
    box-shadow:none;
    -webkit-appearance:none
}

div.react-tag-input > input.react-tag-input__input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

div.react-tag-input:hover, div.react-tag-input:focus {
    border-color: #165996;
    box-shadow: 0 0 0 2px rgb(23 125 220 / 20%);
    border-right-width: 1px !important;
    outline: 0;
}

div.react-tag-input > div.react-tag-input__tag{
    position:relative;
    display: flex;
    align-items: center;
    font-size: .85em;
    line-height: 1.2;
    background: #18183B;
    border:1px solid #434343;
    color: rgba(255, 255, 255, 0.85);
}

div.disabled > div.react-tag-input {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: #434343;
    box-shadow: none;
    opacity: 1;
    cursor: not-allowed;
}

div.disabled > div.react-tag-input > input.react-tag-input__input {
    pointer-events: none;
}

.image-card-new-deck {
    width: 65px;
    border-radius: 3px;
}

.tag-new-deck {
    margin-bottom: 2px;
}

.btn-save-deck {
    float: right;
    width: 100%;
}

.search-my-cards {
    padding-bottom: 15px;
}

@media all and (orientation:portrait) {
    .image-card-new-deck {
        width: 30px;
    }

    .movable-item-new-deck {
        width: 30px;
        height: 42px;
        margin: 2px;
    }

    .btn-save-deck {
        float: right;
    }
}

@media all and (orientation:landscape) {
    .image-card-new-deck {
        width: 40px;
    }

    .movable-item-new-deck {
        width: 40px;
        height: 58px;
        margin: 2px;
    }

    .btn-save-deck {
        float: right;
    }
}

/* @media (min-width: 576px) {

    .image-card-new-deck {
        width: 40px;
    }

    .movable-item-new-deck {
        width: 40px;
        height: 58px;
        margin: 2px;
    }

    .btn-save-deck {
        float: right;
    }

} */
  
@media (min-width: 992px) { 
    .image-card-new-deck {
        width: 65px;
    }

    .movable-item-new-deck {
        width: 65px;
        height: 93px;
        margin: 6px;
    }
}