#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
.site-layout .site-layout-background {
    background: #1f1f1f;
    padding: 24px
}

ul.menu-myl{
    height: 100vh;
    position: relative;
 }
 ul.menu-myl > :last-child{
    position: absolute;
    bottom: 0;
}