#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

ul.menu-myl{
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}


.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
  
.ant-layout {
    transition: all 0.2s;
}

.ant-layout-header {
    height: 64px;
    background: #18183B;
    padding: 0;
    line-height: 64px;
}
.ant-menu.ant-menu-dark {
    background: #18183B;
}

.ant-layout-sider-trigger {
    background: #0F0F23;
}

.content-layout {
    padding: 0 10px;
    margin-top: 64px;
    overflow: initial;
    overflow-x: hidden;
}

.content-layout-match {
    padding: 0;
    margin-top: 0;
    overflow: initial;
    overflow-x: hidden;
}

.section-layout {
    height: 100vh;
}

footer.ant-layout-footer {
    color: rgba(255, 255, 255, 0.85);
    background: #000;
}

@media all and (orientation:portrait) {
    footer.ant-layout-footer {
        padding: 5px 50px;
        font-size: 10px;
    }

    .ant-layout-header {
        height: 45px;
        line-height: 45px;
    }

    .content-layout {
        margin-top: 45px;
    }
    
}

@media all and (orientation:landscape) {
    footer.ant-layout-footer {
        padding: 5px 50px;
        font-size: 10px;
    }

    .ant-layout-header {
        height: 45px;
        line-height: 45px;
    }

    .content-layout {
        margin-top: 45px;
    }
    
}
  
@media (min-width: 992px) { 
    footer.ant-layout-footer {
        padding: 15px 50px;
        font-size: 14px;
    }

    .ant-layout-header {
        height: 64px;
        line-height: 64px;
    }

    .content-layout {
        margin-top: 64px;
    }
}

.spinner-general {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}