#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

ul.menu-myl{
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}


.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
  
.ant-layout {
    transition: all 0.2s;
}

.ant-menu.ant-menu-dark {
    background: #18183B;
}

.ant-layout-sider-trigger {
    background: #0F0F23;
}